version: '3.8'

services:
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: senha_root
      MYSQL_DATABASE: nome_banco
      MYSQL_USER: usuario_xx
      MYSQL_PASSWORD: senha_xx

  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
